<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="font-serif transition-colors ease-out duration-800 min-h-screen flex flex-col bg-base-100">
    {{ partial "sidebar.html" . }}

    <main class="flex-1 flex flex-col sm:ml-56 px-6 pt-16 pb-6 prose dark:prose-invert prose-sm lg:prose-lg xl:prose-xl
               prose-ul:leading-tight prose-h1:mb-2 mx-auto
               prose-a:no-underline hover:prose-a:underline underline-offset-4
               transition-colors ease-out duration-800">
      <article>
        {{ block "main" . }}{{ end }}
      </article>
      <footer class="footer footer-center text-base-content p-4 mt-auto">
        {{ partial "footer.html" . }}
      </footer>
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
          delimiters: [
            { left: "$", right: "$", display: false },
            { left: "$$", right: "$$", display: true },
          ],
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
