<!DOCTYPE html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="font-serif transition-colors ease-out duration-800">
    <header>{{ partial "header.html" . }}</header>
    <main>
      <article
        class="prose dark:prose-invert prose-base lg:prose-lg xl:prose-xl prose-ul:leading-tight prose-h1:mb-2 mx-auto p-5 prose-a:no-underline hover:prose-a:underline underline-offset-4 transition-colors ease-out duration-800"
      >
        {{ block "main" . }}{{ end }}
      </article>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
          delimiters: [
            { left: "$", right: "$", display: false },
            { left: "$$", right: "$$", display: true },
          ],
        });
      });
    </script>
    <footer class="footer footer-center text-base-content p-4">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
