/* prevent page from moving when scrollbar active */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background-color: #222222;
  color: lightgrey;
  font-family: "Ubuntu Mono", sans-serif;
}

main {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  main {
    max-width: 90%;
  }
}

footer {
  margin-top: 1rem;
  text-align: center;
}

a {
  color: lightseagreen;
  text-decoration: none;
}

object {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.circular_image {
  border-radius: 50%;
  margin: auto;
  display: block;
}

#icons ul {
  display: flex;
  min-width: 100%; 
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-evenly;
  padding-inline-start: 0;
  list-style-type: none; 
  gap: 1.5em;
}

.sidebar {
  position: fixed;
  height: 100%;
  min-width: 100px;
  max-width: 100px;
  overflow: auto;
}

.sidebar h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#menu ul {
  list-style-type: none;
  line-height: 1.5;
  padding-inline-start: 2px;
}

.sidebar {
  min-width: 0;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  position: relative;
}

#menu ul {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0;
}

#icons ul {
  justify-content: center;
  gap: 1.5em;
  min-width: 0;
}

.video-shortcode {
  max-width: 100%;
  height: auto;
}
