{{ define "main" }}
  <h1>{{ .Title }}</h2>
  {{ $posts := .Pages }}
  <ul>
    {{ range $posts | sort (slice "lastUpdated" "date" ) }}
      {{ if .Params.lastUpdated }}
          {{ $date := .Params.lastUpdated | time.Format ":date_short" }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> &dash; Updated {{ .Params.lastUpdated | time.Format ":date_short" }}</li>
        {{ else }}
          {{ $date := .Date | time.Format ":date_short" }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> &dash; {{ .Date | time.Format ":date_short" }}</li>
      {{ end }}
    {{ end }}
  </ul>
  {{ .Content }}
{{ end }}
