{{ define "main" }}
  <h1>{{ .Title }}</h2>
  <ul>
    {{ range .Pages }}
      {{ if .Params.lastUpdated }}
          {{ $date := .Params.lastUpdated | time.Format ":date_short" }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> &dash; {{ .Date | time.Format ":date_short" }}, updated {{ .Params.lastUpdated | time.Format ":date_short" }}</li>
        {{ else }}
          {{ $date := .Date | time.Format ":date_short" }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> &dash; {{ .Date | time.Format ":date_short" }}</li>
      {{ end }}
    {{ end }}
  </ul>
  {{ .Content }}
{{ end }}
