{{- /*
  Renders a menu for the given menu ID.
  
  @context {page} page The current page.
  @context {string} menuID The menu ID.
  
  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  */}}
  
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  
  {{- with index site.Menus $menuID }}
    {{- range .}}
      <a href="{{ .URL }}"><i class="w-4 h-4 lg:w-5 lg:h-5 hover:text-base-content fab fa-{{ lower .Identifier }}"></i></a>
    {{- end }}
  {{- end }}
  <a href="https://monkeytype.com/profile/daveygravy"><i class="w-4 h-5 lg:w-5 lg:h-5 fa-solid fa-keyboard"></i></a>
  
